<div class="container">
  <div class="mx-auto my-5 w-75">
    <div class="card" style="width: 100%;">
      <img src="../../../assets/mordor.jpg" style="height: 35rem;" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">My management</h3>
        <h4 class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. &#58;&#41;</h4>
      </div>
      <div class="card-body d-flex justify-content-evenly">
        <button type="button" class="btn btn-warning text-light btn-lg" [routerLink]="['/users']" routerLinkActive="active">Go to
          users list</button>
        <button type="button" class="btn btn-warning text-light btn-lg" [routerLink]="['/invoices']"
          routerLinkActive="active">Check invoices</button>
        <button type="button" class="btn btn-warning text-light btn-lg" [routerLink]="['/customers']"
          routerLinkActive="active">Manage customers</button>
      </div>
    </div>
  </div>
</div>
