.card {
  background-color: rgba(50, 50, 50, 0.5);
  color: #fff;
  text-shadow: 1px 1px #000, -1px -1px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000, -1px 0px #000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;
  border-radius: 25px;
  transition: all .2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

img {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

h3, h4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

h3 {
  color: gold;
  font-weight: bold;
}

h4 {
  font-style: italic;
}

button {
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #000;
  text-shadow: 1px 1px #000, -1px -1px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000, -1px 0px #000;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
