button {
  border: 1px solid #000;
  text-shadow: 1px 1px #000, -1px -1px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000, -1px 0px #000;
  box-shadow: 3px 3px 6px 0px #000;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  color: #fff;
}

span {
  color: gold;
}
